.card-container {
    margin: 2%;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card-actions {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  
  .edit-textfield {
    width: 100%;
  }
  